*
!gateway/
!gateway/**
!wrappers/
!wrappers/youtube/
!wrappers/youtube/*.mjs
!wrappers/youtube/package*.json
!.local/
!.local/build-sources/
!.local/build-sources/go-librespot/
!.local/build-sources/go-librespot/**
!.local/build-sources/uxplay/
!.local/build-sources/uxplay/**
!.local/build-sources/threadfin/
!.local/build-sources/threadfin/**

!wrappers/rebrowser/
!wrappers/rebrowser/*.mjs
!wrappers/rebrowser/package*.json

!wrappers/youtube-receiver/
!wrappers/youtube-receiver/*.mjs
!wrappers/youtube-receiver/package*.json
